.page {
  box-sizing: border-box;
  margin-bottom: 1rem;
  tab-size: 1in;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 5px #d3d3d3;
  box-shadow: 5px 5px 15px 5px #d3d3d3;
}

.section {
  border: 0.5px solid #d3d3d3;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: white;
}

html {
  background-color: #F3F4F6;
}

pre {
  color: white;
  padding: 1rem;
  background: #333333;
  overflow-y: scroll;

}

p {
  margin-top: 0px;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

* {
  box-sizing: border-box;
}
